{% extends "base.html" %}

{% load static %}

{% block title %}
Anasayfa
{% endblock title %}

{% block content %}

<section class="hero" style="--hero-img: url('{% static "images/arkaplan2.png" %}');">
    <div class="container">
        <div class="hero-inner">
            <h1 class="hero-title">Doğal ve Taze Ürünler</h1>
            <p class="hero-sub">Çiflikten sofranıza: her gün taze, güvenilir ve uygun fiyatlı.</p>


            <div class="hero-actions">
                <a href="#" class="btn btn-primary">Ürünleri Gör</a>
                <a href="#" class="btn btn-ghost">Hakkımızda</a>
            </div>
        </div>
    </div>

</section>




<section class="container">
    <h2 class="secton-title"> Popüler Ürünler</h2>
    <div class="product-grid">
        {% for urun in products %}
            <article class="card">
                <a href="{% url 'purevia:urundetay' urun.slug %}" class="card-media">
                    <img src="{{ urun.image_url }}" alt="{{ urun.isim }}">
                </a>


                
                <div class="card-body">
                    <h3 class="card-title clamp-1"> {{urun.isim}} </h3>


                    {% if urun.kisa_aciklama %}
                        <p class="card-desc clamp-2"> {{urun.kisa_aciklama}} </p>
                    {% endif %}

                    <div class="card-footer">
                        <div class="price-row">
                            {% if urun.indirimli_fiyat %}
                                <strong class="price-discount"> {{urun.indirimli_fiyat}}$</strong>
                                <del class="old">{{urun.fiyat}}$</del>
                            {% else %}
                                <strong class="price"> {{urun.fiyat}}$</strong>
                            {% endif %} 
                        </div>
                    </div>
                    <a href="{% url 'purevia:urundetay' urun.slug %}" class="btn btn-primary">İncele</a>
                    
                </div>
            </article>
        {% endfor %}
    </div>
</section>

{% endblock content %}